body {
    margin: 100px 200px;
}

.img-container {
    height: 200px;
    text-align: center;
    width: 100%;
}

.cat {
    max-height: 200px;
    min-height: 200px;
}

.btn-group {
    margin: 10px 0;
    text-align: center;
    width: 100%;
}